@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(material-icons.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    margin-bottom: 2rem;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    margin-left: 1em;
}

ul.right {
    margin-right: 1em;
}

#published-link {
    display: none;
}

#quiz-area {
    display: none;
}